*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg,#FFD54F,#EF6C00);
  font-family: 'Montserrat';
  color:  white;
}

.location,
.temperature{
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


.temperature{
    flex-direction: column;
}

.degree-section{
  display: flex;
  align-items: center;
  cursor: pointer;
}


.degree-section span{
  position: relative;
  bottom: -2px;
  margin: 10px;
  font-family: 'Schoolbell',cursive;
  font-size: 39px;
}

.degree-section h2{
  font-size: 40px;
}
